.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
  /* background-color: rgb(16, 31, 239) !important; */
  background: linear-gradient(to right, #0a9cf0, #031d53);
}

/* Mejorar la visibilidad del menú en móviles */
.navbar-toggler {
  border: none !important;
  outline: none !important;
}


.nav-link:hover {
  color: #ffbf00 !important;
  /* border-bottom: 1px solid #ffcc00 ; */
}

.nav-link {
  position: relative;
  font-weight: bold !important;
  color: white !important;
  font-size: 16px;
  padding: 8px 12px;
  text-decoration: none;
  transition: color 0.2s ease, border-bottom 0.2s ease;
  box-sizing: border-box;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  top: 40px;
  height: 2px;
  background-color: #ffcc00;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1); 
}

/* Cuando el enlace está activo */
/* .nav-link.active {
  color: #ffbf00 !important; 
  font-weight: bold;
  border-bottom: 2px solid #ffcc00;
} */

.nav-link.active {
  color: #ffbf00 !important;
  font-weight: bold;
}

.nav-link.active::after {
  visibility: visible; /* Muestra el borde cuando está activo */
  transform: scaleX(1); /* Aparece el borde */
}

.nav-link.active:hover::after {
  transform: scaleX(1); /* Se muestra el borde cuando el enlace está activo */
}

.logo {
  width: 70px;
  height: 50px;
  object-fit: contain;
}

@media (max-width: 991px) {
  .collapse.navbar-collapse {
    position: fixed;
    top: 0;
    left: -250px; /* Menú oculto a la izquierda inicialmente */
    width: 250px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.834);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out; /* Transición para mover el menú */
    padding-top: 20px;
  }

  /* Cuando el menú está abierto */
  .collapse.navbar-collapse.show {
    left: 0; /* El menú se mueve a la posición 0 (a la vista) */
    top: 70px;
  }

  /* Estilo para los elementos del menú */
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }

  .closse-session {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    margin: 10px 0;
    opacity: 0; /* Inicialmente invisibles */
    transform: translateX(-250px); /* Inicialmente desplazados hacia la izquierda */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transición suave para el movimiento y la opacidad */
  }

  /* Cuando el menú está abierto, los ítems se desplazan desde la izquierda hacia su lugar */
  .collapse.navbar-collapse.show .nav-item {
    transform: translateX(0); /* Los ítems se mueven a su posición original */
    opacity: 1; /* Se hacen visibles */
  }

  /* Animación de entrada del menú */
  @keyframes slideIn {
    from {
      transform: translateX(-250px);
    }
    to {
      transform: translateX(0);
    }
  }

  .collapse.navbar-collapse.closing {
    left: -250px; /* Mueve el menú fuera de la pantalla */
  }

  .collapse.navbar-collapse.show {
    animation: slideIn 0.3s ease-in-out;
  }

  /* Aplicar la animación de salida cuando el menú se cierra */
  .collapse.navbar-collapse:not(.show) {
    animation: slideOut 0.3s ease-in-out;
  }
}