.navbar {
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0; /* Ubícalo en la parte superior */
  left: 0; /* Alinea a la izquierda */
  right: 0; /* Alinea a la derecha */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  padding: 10px 20px; /* Puedes ajustar el padding si es necesario */
  background-color: rgb(16, 187, 239) !important;
}

.navbar-brand,
.nav-link {
  font-weight: bold !important;
  color: rgb(255, 255, 255) !important;
  text-align: left !important;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #001df8 !important;
}
